server:
  port: 8084 # Review Service runs on 8084

spring:
  application:
    name: review-service
  datasource:
    url: jdbc:h2:mem:reviewdb
    driverClassName: org.h2.Driver

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/