version: '3.8'

services:
# MESSAGE BROKER
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # Main port for communication
      - "15672:15672" # Management Dashboard (GUI)
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - skillhub-net
  # 1. CONFIG SERVER
  config-server:
    build: ./config-server/config-server
    container_name: config-server
    ports:
      - "8888:8888"
    volumes:
      - ./skillhub-config:/config
    environment:
      - SPRING_CLOUD_CONFIG_SERVER_GIT_URI=file:///config
      - JAVA_TOOL_OPTIONS=-Xmx256m
    deploy:
      resources:
        limits:
          memory: 450M
    restart: on-failure
    networks:
      - skillhub-net

  # 2. DISCOVERY SERVICE
  discovery-service:
    build: ./discovery-service/discovery-service
    container_name: discovery-service
    ports:
      - "8761:8761"
    # Force Config Server URL via Entrypoint
    entrypoint: ["java", "-Dspring.cloud.config.uri=http://config-server:8888", "-Dspring.config.import=optional:configserver:http://config-server:8888", "-jar", "/app.jar"]
    environment:
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - JAVA_TOOL_OPTIONS=-Xmx256m
    deploy:
      resources:
        limits:
          memory: 450M
    restart: on-failure
    depends_on:
      - config-server
    networks:
      - skillhub-net

  # 3. USER SERVICE
  user-service:
    build: ./user-service/user-service
    container_name: user-service
    ports:
      - "8081:8081"
    # Force Config Server URL via Entrypoint
    entrypoint: ["java", "-Dspring.cloud.config.uri=http://config-server:8888", "-Dspring.config.import=optional:configserver:http://config-server:8888", "-jar", "/app.jar"]
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka/
      - JAVA_TOOL_OPTIONS=-Xmx256m
    deploy:
      resources:
        limits:
          memory: 450M
    restart: on-failure
    depends_on:
      - config-server
      - discovery-service
    networks:
      - skillhub-net

  # 4. JOB SERVICE
  job-service:
    build: ./job-service/job-service
    container_name: job-service
    ports:
      - "8082:8082"
    # Force Config Server URL via Entrypoint
    entrypoint: ["java", "-Dspring.cloud.config.uri=http://config-server:8888", "-Dspring.config.import=optional:configserver:http://config-server:8888", "-jar", "/app.jar"]
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka/
      - JAVA_TOOL_OPTIONS=-Xmx256m
    deploy:
      resources:
        limits:
          memory: 450M
    restart: on-failure
    depends_on:
      - config-server
      - discovery-service
    networks:
      - skillhub-net

  # 5. BIDDING SERVICE
  bidding-service:
    build: ./bidding-service/bidding-service
    container_name: bidding-service
    ports:
      - "8083:8083"
    # Force Config Server URL via Entrypoint
    entrypoint: ["java", "-Dspring.cloud.config.uri=http://config-server:8888", "-Dspring.config.import=optional:configserver:http://config-server:8888", "-jar", "/app.jar"]
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka/
      - JAVA_TOOL_OPTIONS=-Xmx256m
    deploy:
      resources:
        limits:
          memory: 450M
    restart: on-failure
    depends_on:
      - config-server
      - discovery-service
    networks:
      - skillhub-net

  # 6. API GATEWAY
  api-gateway:
    build: ./api-gateway/api-gateway
    container_name: api-gateway
    ports:
      - "9090:9090"
    # Force Config Server URL AND Port 9090
    entrypoint: ["java", "-Dserver.port=9090", "-Dspring.cloud.config.uri=http://config-server:8888", "-Dspring.config.import=optional:configserver:http://config-server:8888", "-jar", "/app.jar"]
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka/
      - JAVA_TOOL_OPTIONS=-Xmx256m
    deploy:
      resources:
        limits:
          memory: 450M
    restart: on-failure
    depends_on:
      - config-server
      - discovery-service
      - user-service
    networks:
      - skillhub-net

# 7. NOTIFICATION SERVICE (Consumer)
  notification-service:
    build: ./notification-service/notification-service
    container_name: notification-service
    ports:
      - "8084:8084"
    # ADD THIS ENTRYPOINT LINE:
    entrypoint: ["java", "-Dspring.cloud.config.uri=http://config-server:8888", "-Dspring.config.import=optional:configserver:http://config-server:8888", "-jar", "/app.jar"]
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka/
      - JAVA_TOOL_OPTIONS=-Xmx256m
    deploy:
      resources:
        limits:
          memory: 450M
    restart: on-failure
    depends_on:
      - config-server
      - discovery-service
      - rabbitmq
    networks:
      - skillhub-net



networks:
  skillhub-net:
    driver: bridge